HTTP_PORT=8080
GIN_MODE=debug
LOG_LEVEL=debug
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
ACCESS_TOKEN_LIFETIME=200
ACCESS_TOKEN_SECRET="jwt-secret"
EMAIL_LOGIN=example@yandex.ru
EMAIL_PASSWORD=password
EMAIL_SMTP_HOST=smtp.yandex.ru
EMAIL_SMTP_PORT=465 
